<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WSWebTool</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("WSWebTool", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
                <ul class="nav navbar-nav">
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                           <span style="color:white">Follow and Unanswered</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu list-group">
                            <li class="list-group-item">@Html.ActionLink("Last Mouth Follow", "LastMouthFollow", "Unanswered")</li>
                            <li class="list-group-item">@Html.ActionLink("Last Mouth Unanswered", "LastMouthUnanswered", "Unanswered")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span style="color:white">Last Month Follow and Unanswered</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu list-group">
                            <li class="list-group-item">@Html.ActionLink("Monthly Report", "Index", "UserActivity")</li>
                            <li class="list-group-item">@Html.ActionLink("Daily Report", "DailyReport", "UserActivity")</li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span style="color:white">Monthly and Daily Report</span><b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu list-group">
                            <li class="list-group-item">@Html.ActionLink("Follow", "Follow", "Unanswered")</li>
                            <li class="list-group-item">@Html.ActionLink("Unanswered", "Index", "Unanswered")</li>
                        </ul>
                    </li>
            </ul>
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
